/*---------------------------------------*/
/* Font */
/*---------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*---------------------------------------*/
/* General Styles */
/*---------------------------------------*/


.fu-container {
  display: flex;
  justify-content: center; /* Horizontally center the form */
  align-items: center;     /* Vertically center the form */
  padding-left: 0%;           /* Make the container full height of the viewport */
}

/*---------------------------------------*/
/* Form Styling */
/*---------------------------------------*/
.fu-signup-form {
  width: 400px;
  background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto; /* Centering the form horizontally */
}

/*---------------------------------------*/
/* Form Header */
/*---------------------------------------*/
.fu-form-header {
  background-color: #EFF0F1;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.fu-form-header h1 {
  font-size: 24px;
  color: #666;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.fu-form-body {
  padding: 20px;
}

.fu-form-group {
  margin-bottom: 15px;
}

.fu-label-title {
  color: #1BBA93;
  font-size: 14px;
  font-weight: bold;
}

.fu-form-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

input[type="file"] {
  cursor: pointer;
  font-size: 14px;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.fu-form-footer {
  background-color: #EFF0F1;
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid #cccccc;
}

.fu-btn {
  padding: 10px 20px;
  background-color: #1BBA93;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.fu-btn:hover {
  background-color: #169c7b;
}

.fu-single-card {
  width: 400px;
  margin: 0 auto; /* Centering card horizontally */
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.fu-btn-container {
  text-align: center;
  margin-top: 20px;
}
