.add-treatment-container {
  width: 90%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, select, textarea, button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.add-medicine-container {
  display: flex;
  flex-direction: column;
}

.add-medicine-container div {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.add-medicine-container input {
  flex: 1;
}

.add-medicine-button,
.submit-button,
.remove-medicine-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-medicine-button {
  background-color: #4CAF50;
  color: white;
  display: inline-block;
  margin-right: auto;
}

.add-medicine-button:hover {
  background-color: #45a049;
}

.remove-medicine-button {
  background-color: #ff4d4d;
  color: white;
  margin-left: 10px;
}

.remove-medicine-button:hover {
  background-color: #e60000;
}

.submit-button {
  background-color: #45a049;
  color: white;
  margin: 20px auto;
  display: block;
  padding: 15px 30px; 
  font-size: 18px;
}

.submit-button:hover {
  background-color: #45a049;
}
