.treatment-add-treatment-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.treatment-add-treatment-form {
  display: flex;
  flex-direction: column;
}

.treatment-form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.treatment-form-input,
.treatment-form-textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.treatment-error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.treatment-medicine-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.treatment-medicine-name-input,
.treatment-medicine-dose-input {
  flex: 1;
  margin-right: 10px;
}

.treatment-add-medicine-button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 15px; /* Space below the button */
  align-self: flex-start; /* Aligns button to the left */
}

.treatment-add-medicine-button:hover {
  background-color: #45a049;
}

.treatment-remove-medicine-button {
  background-color: #ff4d4d;
  color: white;
}

.treatment-remove-medicine-button:hover {
  background-color: #e60000;
}

.treatment-submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  margin: 20px auto;
  display: block;
}

.treatment-submit-button:hover {
  background-color: #45a049;
}

.treatment-no-medicines {
  font-style: italic;
  color: #555;
}
