/* AddOrder.css */

#add-order-container {
    padding: 20px;
    background-color: #f0f9f0; /* Light farm green background */
    font-family: 'Arial', sans-serif;
}

#add-order-header {
    text-align: center;
    color: #2f6b2f; /* Deep green color */
    font-size: 32px;
    margin-bottom: 20px;
}

#add-order-form {
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#order-id-label,
#order-type-label,
#order-items-label,
#supplier-label,
#description-label,
#status-label
 {
    font-weight: bold;
    color: #293502; /* Slightly darker green */
}

#add-order-form input[type="text"],
#add-order-form input[type="number"],
#add-order-form textarea,
#add-order-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

#add-order-form input[type="text"]:focus,
#add-order-form input[type="number"]:focus,
#add-order-form textarea:focus,
#add-order-form select:focus {
    border-color: #8a9a5b; /* Highlight color on focus */
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.order-item input,
.order-item select {
    flex: 1; /* Equal space for inputs */
    margin-right: 10px; /* Space between inputs */
}

#add-item-button,
#remove-item-button {
    background-color: #3b8e3b;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-item-button:hover,
#remove-item-button:hover {
    background-color: #6b7a45;
    
}


#description-error,
.error-message {
    color: red;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#submit-order-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #499d2a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-order-button:hover {
    background-color: #16821d;
}

#description-textarea {
    height: 90px;
    resize: vertical;
}
