/*---------------------------------------*/
/* Font */
/*---------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*---------------------------------------*/
/* General Styles */
/*---------------------------------------*/
body {
  background: linear-gradient(to right, #fefefe 0%, #dfdfdf 50%, #fafafa 99%);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the body takes the full viewport height */
}

.f-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding-left: 0%;
  margin-top: 50px;
  
  
           
}

.f-signup-form {
  width: 400px;
  height: 100px;
  background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto; /* Centering the form horizontally */
            /* Make the container full height of the viewport */

}


.f-form-header {
  background-color: #EFF0F1;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.f-form-header h1 {
  font-size: 24px;
  color: #666;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.f-form-body {
  padding: 20px;
}

.f-form-group {
  margin-bottom: 15px;
}

.f-label-title {
  color: #1BBA93;
  font-size: 14px;
  font-weight: bold;
}

.f-form-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.input[type="file"] {
  cursor: pointer;
  font-size: 14px;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.f-form-footer {
  background-color: #EFF0F1;
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid #cccccc;
}

.f-btn {
  padding: 10px 20px;
  background-color: #1BBA93;
  font-size: 14px;
  width: 200px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.f-btn:hover {
  background-color: #169c7b;
}

.f-single-card {
  width: 400px;
  margin: 0 auto; /* Centering card horizontally */
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.f-btn-container {
  text-align: center;
  margin-top: 20px;
}
