/* General form styling */
.s-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.s-update-button {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 20px auto 0;
}

.s-delete-button {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 20px auto 0;
}

.s-add-button {
  background-color: #70db62;
  color: #073a11;
  border: 1px solid #48de87;
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 20px auto 0;
}

.s-low-stock-button {
  background-color: #ebcc96;
  color: #3b2602;
  border: 1px solid #f3bc5d;
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 20px auto 0;
}
.s-update-button:hover {
  background-color: #ffecb5;
}

.s-delete-button:hover {
  background-color: #f1b0b7;
}

.s-add-button:hover{
  background-color: #05a630;
}

input, textarea, select {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

/* Stock heading */
.stock-heading {
  font-size: 28px;
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px 0;
}

/* Stock grid layout */
.stock-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 20px; /* Padding for better spacing */
}

.stock-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stock-item .stock-container {
  border: none;
}

/* Header container for search and buttons */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* Button styling */
.download-button {
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #e67e22;
}

/* Centered heading styling */
.centered-heading {
  font-size: 36px;
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0 20px; /* Margin adjusted for spacing with buttons */
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  flex: 1; /* Allow heading to take up available space */
}

.search-input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 50px;
  font-size: 16px;
  width: 400px; /* Adjusted width for the search bar */
}

/* Centered box for no items message */
.centered-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute; /* Position absolute for precise centering */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact center */
}

.no-foods-message, .no-medicines-message {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 100%; /* Full width of the centered box */
}

.add-food-button, .add-medicine-button {
  margin-top: 20px; /* Space between message and button */
  background-color: #62e167;
  color: rgb(25, 101, 28);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-food-button:hover, .add-medicine-button:hover {
  background-color: darkgreen;
  color: white;
}

/* Dashboard container */
.dashboard-container {
  text-align: center;
  padding: 20px;
}

/* Chart layout */
.chart-row {
  display: flex;
  justify-content: space-between; /* Space between bar and pie chart */
  align-items: center;
  margin: 20px auto;
}

.chart-item {
  width: 45%; /* Each chart takes 45% of the width */
  padding: 20px;
}

.pie-chart {
  position: relative;
  height: 400px; /* Custom height for the pie chart */
}

h1, h2 {
  color: #333;
  font-family: Arial, sans-serif;
}
