#o-order-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 90%;
    margin: auto;
    margin-block-end: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#o-order-id, #o-order-type, #o-order-supplier, #o-order-date, #o-order-status {
    font-size: 20px;
    color: #293502;
    margin-bottom: 10px;
}

#o-order-items-title, #o-order-description {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #37474f;
}

#o-order-items-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

#o-order-items-list li {
    font-size: 16px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#o-order-items-list li:last-child {
    border-bottom: none;
}

#o-order-items-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#o-order-items-list li:nth-child(even) {
    background-color: #f1f1f1;
}

#o-order-description {
    color: #455a64;
    font-size: 16px;
    margin-bottom: 20px;
}

#o-order-status {
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f;
}
