
.I-h1 {
    margin-top: 5%;
    font-weight: bold; 
    font-size: 20px;
}


.I-but{
	background-color: #30b589;
	color: #333;
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-bottom: 10px;
}

.I-but_up{
    background-color: #30aab5;
	color: #333;
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-bottom: 10px;
}
.I-but:hover{
	background-color: orangered;
	color: #fff;
	border: none;
}
.I-but_up:hover{
	background-color: rgb(57, 221, 71);
	color: #fff;
	border: none;
}
.Fm_info {
	padding: 10px;
	text-align: center;
	color: #ddd;
}
.h3 {
	margin: 15px 0 10px;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Bebas Neue', sans-serif;
}
.info .price {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	color: aqua;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.PI-table-wrapper {
    margin: 1px auto; /* Center the table wrapper */
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    max-width: 800px; /* Optional: Set a max width for the wrapper */
    padding: 1px; /* Optional: Add padding for better spacing */
}

.fp-table {
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.fp-table td{
    text-align: left; /* Center text in the table */
    padding: 8px;

}
.fp-table th {
    text-align: center; /* Center text in the table */
    padding: 8px;
}

.fp-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

/* Align the last column to the right */
.fp-table td:last-child {
    text-align: right; /* Align the amount column to the right */
}

.fp-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fp-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fp-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .fp-table {
        display: block;
        width: 100%;
    }

    .fp-table thead,
    .fp-table tbody,
    .fp-table thead th {
        display: block;
    }

    .fp-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fp-table td,
    .fp-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fp-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fp-table tbody tr {
        display: table-cell;
        align-items: center;
    }

    .fp-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fp-table tbody td {
        display: block;
        text-align: center;
    }
}

/* New styles for pie chart */
.f-pie {
    width: 300px;
    height: 300px;
    margin: 20px auto;  
    position: relative;
}

.Amount{
    text-align: right;
}
.I-email-input{
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}