#os-orders-title {
    text-align: center;
    color: #2f6b2f; /* Farm-themed green */
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #os-orders-container{
    background-color: #f0f9f0;

  }
